<h1>Página de productos</h1>

<div id="container">
    <div id="productos">
        {{#if id}}
            <ul>
                    <li><h3> {{producto.title}}<h3></li>
                    <li> {{producto.description}} </li>
                    <li>$ {{producto.price}} </li>
                    <li><img src={{producto.thumbnail}} alt={{producto.description}} width="250" > </li>
                    <li>Código {{producto.code}} </li>
                    <li>Stock Actual {{producto.stock}} </li>
                    <li><button class="comprar" data-id={{producto.id}} >Agregar al carrito</button></li>
                </ul>

        {{else}}
            {{#each productos}}
                <ul>
                    <li><h3> {{title}}<h3></li>
                    <li> {{description}} </li>
                    <li>$ {{price}} </li>
                    <li><img src={{thumbnail}} alt={{description}} width="250" > </li>
                    <li>Código {{code}} </li>
                    <li>Stock Actual {{stock}} </li>
                    <li><button class="comprar" data-id={{id}} >Agregar al carrito</button></li>
                </ul>
            {{/each}}
        {{/if}}
    </div>
</div>
<div id="bloque"></div>
<a href="/" title="Home Page">Home Page</a>